Tugas-7 Implementasi Ai Untuk SDM.json
{
  "name": "Tugas-7 Implementasi Ai Untuk SDM",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Form Rekrutmen Posisi Manajemen Marketing",
        "formDescription": "Harap isi form dibawah ini sesuai dengan ketentuan yang berlaku ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Lengkap",
              "placeholder": "Nabil Rafly",
              "requiredField": true
            },
            {
              "fieldLabel": "Pengalaman",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "< 1 Tahun"
                  },
                  {
                    "option": "1 - 3 Tahun"
                  },
                  {
                    "option": "> 3 Tahun"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Upload CV",
              "fieldType": "file",
              "acceptFileTypes": "pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        400,
        -176
      ],
      "id": "89691c06-8733-48d6-b1d0-f0d9e86d6c82",
      "name": "On form submission",
      "webhookId": "babd5288-be83-4e28-9ab5-8defa13c982c"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=Upload_CV",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        816,
        -176
      ],
      "id": "5f7a69f7-bf48-43c9-815d-4a2ef26d9bc6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Peran: Anda adalah Senior Technical Recruiter yang sangat teliti dan objektif. Tugas Anda adalah mengevaluasi teks CV kandidat di bawah ini untuk posisi Automation Engineer/Developer.\n\nKonteks CV Kandidat:\n\"\"\"\n{{ $json.text }}\n\"\"\"\n\nInstruksi Penilaian:\n1. Analisis pengalaman kerja, keahlian teknis (Hard Skills), dan latar belakang pendidikan.\n2. Identifikasi apakah kandidat memiliki pengalaman dengan tool seperti: n8n, Javascript, Python, SQL, atau API Integration.\n3. Berikan skor profesional dari 0-100.\n   - Skor < 50: Tidak relevan/Pemula.\n   - Skor 50-75: Menengah/Potensial.\n   - Skor > 75: Sangat Cocok/Senior.\n\nFormat Output (WAJIB JSON):\nJangan berikan basa-basi atau teks pembuka. HANYA berikan output JSON valid dengan struktur berikut:\n{\n  \"candidate_name\": \"Nama lengkap kandidat (jika ada)\",\n  \"years_of_experience\": \"Estimasi total tahun pengalaman (angka)\",\n  \"top_skills\": [\"Skill 1\", \"Skill 2\", \"Skill 3\", \"Skill 4\", \"Skill 5\"],\n  \"summary\": \"Ringkasan profil kandidat dalam 1 paragraf pendek (maksimal 30 kata) dalam Bahasa Indonesia.\",\n  \"strengths\": \"Poin kuat kandidat\",\n  \"weaknesses\": \"Kekurangan/hal yang perlu diklarifikasi\",\n  \"score\": 0,\n  \"hiring_recommendation\": \"YES / NO / MAYBE\"\n}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1024,
        -176
      ],
      "id": "7cafdc01-e672-41e1-943f-ebb5f456d394",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "chatId": "5706620086",
        "text": "=Nama: {{ $json.ai_name }}\nSkills: {{ $json.ai_skills }}\nScore: {{ $json.ai_score }}\nSummary: {{ $json.ai_summary }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        -176
      ],
      "id": "37c918df-aab3-4df6-ab1b-8e73770a23a4",
      "name": "Send a text message",
      "webhookId": "f05ac340-4a45-4ac3-990f-313c9e9a6f99",
      "credentials": {
        "telegramApi": {
          "id": "FFFyTA7uiml1MxOk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pastikan Luxon tersedia atau gunakan cara ini di n8n Code Node\nconst items = $input.all(); \n\nfor (let item of items) {\n  // 1. Ambil data biner\n  const binaryData = item.binary?.Upload_CV__PDF_;\n\n  if (binaryData) {\n    // Memindahkan data biner ke JSON (Base64)\n    item.json.cv_base64 = binaryData.data; \n    item.json.fileName = binaryData.fileName;\n  }\n\n  // 2. Tambahkan tanggal format Indonesia\n  // Di n8n modern, Anda bisa menggunakan $now atau Luxon bawaan\n  item.json.tanggal_input = new Date().toLocaleString('id-ID', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).replace(/\\//g, '-').replace(',', '');\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -176
      ],
      "id": "3a441944-b361-42d6-8f5e-2c665cb7c2b6",
      "name": "Mengkonversi ke Base64"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let item of items) {\n  const aiResponseText = item.json.text; // Output teks dari LLM\n  \n  try {\n    // 1. Bersihkan formatting jika AI memberikan markdown ```json ... ```\n    const cleanJson = aiResponseText.replace(/```json|```/g, '').trim();\n    \n    // 2. Parse string menjadi Objek\n    const parsedData = JSON.parse(cleanJson);\n    \n    // 3. Masukkan ke item.json agar bisa dipanggil node selanjutnya\n    item.json.ai_name = parsedData.candidate_name;\n    item.json.ai_exp = parsedData.years_of_experience;\n    item.json.ai_skills = parsedData.top_skills.join(\", \"); // Array jadi string\n    item.json.ai_summary = parsedData.summary;\n    item.json.ai_score = parsedData.score;\n    item.json.ai_rec = parsedData.hiring_recommendation;\n    \n  } catch (error) {\n    // Fallback jika AI gagal generate JSON valid\n    item.json.error = \"Gagal parsing JSON dari AI\";\n    item.json.raw_output = aiResponseText;\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -176
      ],
      "id": "533c164e-5db2-4c40-b405-8bcbc6eb9b04",
      "name": "Mengubah ke JSON Object"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "27af528c-f279-4611-b477-98106f749d12",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Vful1Sxy5RPLx6ek",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengkonversi ke Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Mengubah ke JSON Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengkonversi ke Base64": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengubah ke JSON Object": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "319ddd70-0eff-48b0-aeca-e6d715e38187",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5cf99436defecf6e93eb699d1be08f9fc424822e608e602b9181280c493ff8d"
  },
  "id": "r20Qrgy6tpI95esO",
  "tags": []
}